body {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto';

}

.showFullscreen {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center {
    display: flex;
    justify-content: center;

}

.currentPokemon {
    color: white;
}

h1 {
    margin-top: -3px;
}

h2 {
    margin-top: -10px;
}

h3 {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
}

img {
    margin-top: -20px;
}

.d-none {
    display: none;
}

.overflow {
    overflow: hidden;
}


.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.pokeCard {
    width: 250px;
    height: 250px;

    color: white;
    margin-top: 24px;
    margin-left: 24px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
}

.pokeCard:hover {
    opacity: 1;
}

.pokemonInfo {
    text-align: center;
}

#pokemonImg {
    width: 50%;
}

.grass {
    background-color: #8EEA8E;
}

.fire {
    background-color: #FC6C6F;
}

.bug {
    background-color: #DDB36A;
}

.water {
    background-color: #97BBD8;
}

.normal {
    background-color: #92C8BF;
}

.poison {
    background-color: #DEF472;
    color: rgba(0, 0, 0, 0.8);

}

.poison h3 {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.electric {
    background-color: #C4DF83;
}

.ground {
    background-color: #E4CC76;
}

.outerCard {
    border: 10px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#close-btn {
    cursor: pointer;
    position: fixed;
    top: 36px;
    left: 12px;
}

#left {
    position: fixed;
    left: 24px;
    cursor: pointer;
}

#right {
    position: fixed;
    right: 24px;
    cursor: pointer;
}




.capital-letter {
    text-transform: capitalize;
}

.pokeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFullscreen {
    max-height: 70vh;
    width: 400px;
}

.topInfo {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 24px;
    border-radius: 10px;
    height: 135px;
    width: 333px;
}

.imageContainer {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    width: 381px;
}

.imageContainer img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -50px;

}



.statsTable {
    display: flex;
    background-color: white;
    justify-content: space-between;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;

}

.header {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    margin-left: 30px;
    border-radius: 5px;
}




@media (max-width: 620px) {
    #headline {
        display: none;

    }

    #search {
        margin-left: 0;
        justify-content: center;
    }

    .pokeCard {
        margin-left: 0px;
        width: 80%;
        height: auto;
        
    }

    #left {
        height: 20px;
        left: 100px;
        bottom: 130px;
    }

    #right {
        height: 20px;
        right: 100px;
        bottom: 130px;
    }

    #close-btn {
        cursor: pointer;
        position: fixed;
        top: 36px;
        left: 80px;
    }
    
    
}