body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-image: url('img/5_background/epl-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 54px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 12px;
}

canvas {
    background-color: black;
    display: block;

}

.d-none {
    display: none !important;
}

.main-game {
    position: relative;
}

#main-buttons {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    width: 100%;
    padding-top: 25px;
}


button {
    background-color: #FF9600;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
}

.start-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

}

.start-screen img {
    position: absolute;
    max-width: 720px;
    width: 100%;
    top: 0;
    height: 100%;
}

.end-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

}

.end-screen img {
    position: absolute;
    max-width: 720px;
    width: 100%;
    top: 0;
    height: 100%;
}

#stats {
    position: absolute;
    max-width: 720px;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
    color: white;
    text-align: center;
    line-height: 22px;
    font-size: 40px;
}

#retard {
    z-index: 15;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story {
    position: absolute;
    max-width: 720px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.openStory {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    word-break: break-word;
    font-size: 18px;
    box-sizing: border-box;
    margin: 63px;
    letter-spacing: normal;
    text-shadow: none;
    background-color: #FF9600;
    border: 1px solid black;
    border-radius: 24px;
}

.controls {
    position: absolute;
    max-width: 720px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.openControls {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    word-break: break-word;
    font-size: 18px;
    box-sizing: border-box;
    margin: 60px;
    letter-spacing: normal;
    text-shadow: none;
    background-color: #FF9600;
    border: 1px solid black;
    border-radius: 24px;
}

.lights-out {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.mobile-layer {
    position: absolute;
    color: whitesmoke;
    font-size: 36px;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.img-table {
    padding-right: 100px;
}

.table-text {
    text-align: left;
}

.ingameButtons {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
}

.ingameBtn {
    background-color: #FF9600;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px 15px;
    cursor: pointer;
    margin-left: 12px;
}

.ingameBtn img {
    height: 30px;
}

.mobileBtns {
    height: 40px;
    width: 40px;
    background-color: #FF9600;
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 6px;
    padding: 2px;
}

.ingame-btns-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 97%;
    margin-left: 12px;
    margin-bottom: 6px;
}

.mobile-btns-left {
    display: flex;
}

.mobile-btns-right {
    display: flex;
}

@font-face {
    font-family: 'zabars';
    src: URL('./fonts/zabars.ttf') format('truetype');
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .mobile-layer {
        display: flex !important;
        z-index: 5;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 420px) {}