body {
    background-color: #27355C !important;
}

.container {
    background-color: #27355C !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

